/*
Admin Panel Style
*/

.heading h1 { text-align: center; }

.general-form,
.general-preview { display: inline-block; float: left; }

.logo-preview { display: block; text-align: center; margin-top: 25px }
.header-logo { width: 280px; background-color: #FFF; padding: 20px; text-align: center; margin-right: 20px; }
.footer-logo { width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px; }

.icons-wrapper img { max-width: 100%; height: auto; }

